/* .homeplanner{
    background-image: url("https://cdn.mos.cms.futurecdn.net/qyvQN6ehECFd3B4ki8TeXk-1200-80.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
} */